.row
  .col-md-12
    %h1.d-flex.justify-content-center.mt-5
      = t('bank_account.my_bank_account')
.row.justify-content-start.mt-5
  .col-7
    %h2.text-center
      = t('bank_account.transactions')
    %table.table.mt-5
      %thead
        %tr.text-center
          %th
            = t('bank_account.type')
          %th
            = t('bank_account.email')
          %th
            = t('bank_account.amount_in_cents')
          %th
            = t('bank_account.left_on_balance')
          %th
            = t('bank_account.sent_at')
      %tbody
        - @decorated_transactions.each do |transaction|
          = render 'transaction', transaction
    != pagy_bootstrap_nav(@pagy)
  .col-5.offset-col-1
    %h2.text-center #{t('bank_account.balance')}: #{@bank_account.balance}
